@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto';
$text-nav: #aeaaaa;
$verde-cor: #00c853;

@mixin flexbox () {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex ( $values ) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -moz-flex: $values;
  flex: $values;
}
@mixin order ( $val ) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
.space{
  flex: 1;
}
body{
  background-image: url('../img/cover-juiz-fora.png');
  background-size: cover;
  background-position: center;
}

.header-navegation{
  margin-top: 45px;
  height: 101px;
  padding: 0 158px;
  @include flexbox();
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: flex-end;
  .header-logo{
    #logo{
      width: 62px;
      height: 71px;
    }
  }
  .header-nav{
    @include flexbox();
    align-items: center;
    ul{
      @include flexbox();
      list-style: none;
      li{

        a{
          text-decoration: none;
          font-size: 14px;
          color: $text-nav;
          padding: 22px;
          display: inline-block;
          &:hover{
            color: $verde-cor;
          }
        }
      }
    }
    .header-socialMidia{
      ul{
        list-style: none;
        li{
          a{
            display: inline-block;
            i{
              color: $verde-cor;
              font-size: 34px;
              &:hover{
                color: rgba(0, 200, 83, 0.6);
              }
            }
          }
        }
      }
    }

  }
}
.container{
  height: #{calc( 100vh - 146px )};
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 915px;
  margin: 0 auto;

  .container-conteudo__title{
    font-size: 100px;
    margin-bottom: 20px;
  }
  .container-conteudo__title-subtitle{
    font-size: 18px;
    color: $text-nav;
    margin-bottom: 40px;
  }
  .container-conteudo__title-subtitle--btnForkMe {
    border-radius: 5px;
    background-color: rgb(0, 200, 83);
    padding: 30px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  .fa-github{
    font-size: 60px;
    color: #000;
    margin-right: 18px;
    vertical-align: middle;
    display: inline-block;
  }
}
