*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
}

.wellcome{
  height: 100vh;
  width: 100vw;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wellcome h1{
  font-size: calc(6rem + 4vw);
  color: #555555;
  margin-bottom: 20px;
}
.wellcome h2{
  font-size: calc(1.8rem + 1.2vw);
  color: #777777;
  margin-bottom: 20px;
  max-width: 700px;
}

.wellcome h1,
.wellcome h2{
  text-align: center;
  font-weight: 100;
}

.wellcome p{
  color: #777777;
  text-align: center;
}

.wellcome p,
.wellcome a{
  font-size: 1.8rem;
}
